<!DOCTYPE html>
<html lang="en">

<head>
    <%- include('templates/main/head', {title}) %>
</head>

<body>

    <!-- Navbar -->
    <div>
        <%- include('templates/main/navbar', {title}) %>
    </div>

    <!-- Page Header Section with Lavender Gradient Background -->
    <section class="page-header">
        <div class="container">
            <h1>Contact</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque est totam quam voluptatem? Assumenda
                ratione doloribus quisquam ex harum, praesentium explicabo architecto dignissimos, quo esse, amet
                impedit. Qui, non quae?</p>
        </div>
    </section>

    <div class="p-5 my-5">
        <div class="p-5">
            &nbsp;
        </div>
    </div>



    <!-- Footer -->
    <footer class="footer">
        <%- include('templates/main/footer') %>
    </footer>

    <%- include('templates/main/baseScripts') %>
        <!-- <script type="text/javascript" src="../backend/public/js/bookList.js"></script>
    <script type="text/javascript" src="../backend/public/js/mainscript.js"></script>
    <script type="text/javascript" src="../backend/public/js/templatemo.custom.js"></script> -->

</body>

</html>