<div class="alert alert-success alert-dismissible fade d-none position-fixed top-0 start-0 z-3 w-100 text-center" role="alert"
    id="successAlert">
    <span id="successMessage">A simple success alert—check it out!</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>

<div class="alert alert-danger alert-dismissible fade d-none position-fixed top-0 start-0 z-3 w-100 text-center" role="alert"
    id="warningAlert">
    <span id="warningMessage">A simple danger alert—check it out!</span>
    <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
</div>