<p>&copy; 2024 JP Alorwu - All Rights Reserved</p>
<p>
    <a href="#" class="text-decoration-none"><i class="fab fa-facebook-f"></i></a>
    <a href="#" class="text-decoration-none"><i class="fab fa-twitter"></i></a>
    <a href="#" class="text-decoration-none"><i class="fab fa-instagram"></i></a>
</p>