<h5 class="">User Menu</h5>
<a href="/user/dashboard" class="<% if(title==='Dashboard'){ %>active<% } %>">Dashboard</a>
<a href="/user/library" class="<% if(title==='Library'){ %>active<% } %>">My Library</a>
<!-- <a href="#">Wishlist</a> -->
<!-- <a href="#">Shopping Cart</a> -->
<!-- <a href="#">Order History</a> -->
<!-- <a href="#">Payment History</a> -->
<!-- <a href="#">Reading Progress</a> -->
<!-- <a href="#">Notifications</a> -->
<a href="/user/profile" class="<% if(title==='Profile'){ %>active<% } %>" >Profile</a>
<!-- <a href="#">Account Settings</a> -->